<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link asp-href-include="~/lib/twitter-bootstrap/css/*.css" rel="stylesheet" type="text/css"
          />
    <title>SportsStore</title>
</head>
<body>

<div class="m-1 p-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand h1" href="#">Sklep sportowy</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav p-1">
                <a class="nav-item nav-link btn btn-block bg-primary p-1 w-auto h-75 m-1"
                   asp-action="ListAll"
                   asp-controller="Product">
                    Wszystko
                </a>
                @await Component.InvokeAsync("NavigationMenu")
            </div>
        </div>
    </nav>
    <div class="">
        @RenderBody()
    </div>
</div>

</body>
</html>