@model IEnumerable<Category>
@{
}

@foreach (var category in Model)
{
    <a class="nav-item nav-link btn btn-block bg-primary p-1 w-auto h-75 m-1"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@category.Name">
        @category.Name
    </a>
}

